<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <script src="https://unpkg.com/vue@next"></script>

  <title>Hola Mundo Vue</title>
</head>

<body>
  <div id="app">
    <!-- El key en v-for hacer cada elemento cada iteracion unico -->
    <!-- v-for se utiliza mucho para renderizar informacion de API'S que suele ir cambiando continuamente -->
    <ul>
      <!-- El key por lo general cuando lo sacamos de API se llama ID nosotros le vamos asignar id que ya traen de manera dinamica. pero cuando ya estamos trabajando en codigo propio podemos pasarle 2 extracciones, en este caso es movie y index, el index no es nadamas que el numero al array que le corresponde a cada cosa, en este caso, el primer elemento corresponde a un 0 al segundo un 1 al tercero un 2,etc. -->

      <!-- para que el index se valla asignando de manera dinamica necesitamos usar un v-bind que seria :key="", para que el key no se quede fijo con el valor de index-->
      <li v-for="(movie, index) in user.movies" :key="index"> {{index}} = {{movie}}</li>
    </ul>

     <!-- <h1 v-if="user.age < 0 || user.age > 110" class="rango_err">
      Tu edad, esta fuera de rango, verificala
    </h1> 

    <h1 v-else-if="user.age >= 18" class="good">Eres Mayor de edad</h1> -->


    <!-- <h1 v-if="user.age >= 18" class="good">Eres Mayor de edad</h1> -->

    <!-- <h1 v-else class="error">Eres Menor de edad</h1> -->



    <!-- <h1 :class="user.classValue">
      {{user.age >= 18 ? user.classValue = 'good' : user.classValue = 'error'}}
    </h1> -->
    <!-- <h1 :class="user.clasValue">
      {{user.title}}
    </h1> -->
  </div>


  <script src="./main.js"></script>

  <script>
    const mountApp = app.mount('#app')
  </script>
</body>

</html>