@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
  background-color: ivory;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  text-align: center;
}

footer {
  background-color: rgba(22, 22, 22, 0.918);
  width: auto;
  height: auto;
}